.mensaje__seccion {
    align-items: center;
    background-color: #1abc9c;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4.5rem ;
    padding: 5.5rem 1rem 5.5rem 1rem;
    width: 100%;
}

.mensaje__icono,
.mensaje__titulo {
    margin: 0 0 .5rem 0 !important;
}

.mensaje__icono {
    animation: shake 2s  infinite forwards;
    height: 10rem;
    width: 10rem;
}

@keyframes shake {
    0% {
        transform: rotate(-20deg);
    } 
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

.icono--palomita {
    background: url("../../img/iconos/comprobado.png") center / 100% 100% no-repeat;
}

.icono--error {
    background: url("../../img/iconos/cancelar.png") center / 100% 100% no-repeat;
}

@media only screen and (min-width: 1366px) {
    .mensaje {
        padding: calc(7.187rem + .5rem) 0 0 0 !important;
    }

    .mensaje__icono,
    .mensaje__titulo {
        margin: 0 0 1rem 0 !important;
    }

    .mensaje__seccion {
        margin: 0 auto;
        max-width: 71rem;

    }
}
