.cabecera {
    align-items: center;
    background: var(--color-blanco);
    display: flex;
    font-size: 0.875rem;
    height: 4.5rem;
    justify-content: space-between;
    position: fixed;
    transition: transform 0.4s;
    width: 100%;
}

/*El menú subirá con un porcentaje de -100%, en el
eje Y*/
.scroll-down .cabecera {
    transform: translate3d(0, -100%, 0);
}

/*El menú se mantendrá en su posición
original*/
.scroll-up .cabecera {
    transform: none;
}

.cabecera__menu {
    align-items: inherit;
    display: inherit;
    justify-content: inherit;
    width: inherit;
}

.cabecera__campo {
    height: 40px;
    width: 272;
}

.cabecera__boton {
    font-size: var(--font-size-secundario-movil);
}

/*.menu__buscador {}*/

.cabecera__buscar {
    height: 1.1rem;
    width: 1.094rem;
}