.productos {
    display: flex;
    flex-direction: column;
}

.productos__categoria {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

/**.productos__link {
    
}**/

.productos__link--flecha {
    background: url("../../img/iconos/flecha.svg") center / cover no-repeat;
    width: .662rem;
    height: .662rem;
}

.productos__producto {
    
}

.productos__imagen {
    height: 174px;
    width: 156px;
    margin: 0 0 .5rem 0;
}

.productos__nombre {
    margin: 0 0 .5rem 0;
}

.productos__precio {
    margin: 0 0 .5rem 0;
}

.productos__link {

}