.boton--blanco,
.boton--azul {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: var(--font-semi-bold);
    font-size: .875rem;
    height: 2.5rem;
    justify-content: center;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 8.312rem;
}

.boton--blanco {
    background: var(--color-blanco);
    border: solid 1px var(--color-azul-fuerte);
    color: var(--color-azul-fuerte);
    opacity: 1;
    transition: 0.3s ease-out;
}

.boton--blanco:active {
    background: var(--color-gris-suave);
    opacity: 0.6;
}

.boton--azul {
    background: var(--color-azul-fuerte);
    border: none;
    color: var(--color-blanco);
}

@media only screen and (min-width: 1366px) {

    .boton--blanco,
    .boton--azul {
        font-size: 1rem;
        height: 3.187rem;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
    }
}