/*
.btn--grande {
    width: 182px;
    height: 51px;   
}
*/

.boton--blanco {
    background: var(--color-blanco);
    border: solid 1px var(--color-azul-fuerte);
    color: var(--color-azul-fuerte);
    height: 2.5rem;
    width: 8.312rem;
}

.boton--blanco, .boton--azul {
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none;
}

.boton--azul {
    background: var(--color-azul-fuerte);
    border: none;
    color: var(--color-blanco);
    height: 2.5rem;
    width: 7.375rem;
}