.informaciones__alurageek {
    background: var(--color-azul-suave);
    display: flex;
    flex-direction: column;
}

.informaciones__cabecera {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
    width: 100%;
}

.informaciones__links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.informaciones__item {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
    width: 100%;
}

.informaciones__item:last-of-type {
    margin: 0;
}

.informaciones__link {
    width: fit-content;
}

.informaciones__copyright {
    align-items: center;
    display: flex;
    height: 6.375rem;
    justify-content: center;
    width: 100%;
}

.informaciones__autor {
    margin: 0;
    text-align: center;
}